.main-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

p {
  font-size: 17px;
  text-align: center;
  line-height: 3;
}

.photo-container {
  display: flex;
  justify-content: space-evenly;
}

.presentation-photos {
  width: 150px;
  height: 150px;
}
