* {
  /*css reset*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
}

section {
  margin-bottom: 20px;
  background-color: rgba(255, 199, 209, 0.315);
  width: 750px;
  border-radius: 5px;
}

header {
  position: sticky;
  top: 0;
  background-color: #e0becc;
}

h1 {
  font-weight: bolder;
  color: black;
  text-shadow: 1px 1px 3px rgb(128, 0, 21);
  font-family: tahoma;
  line-height: 3;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  line-height: 3;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: justify;
  line-height: 1;
  color: rgb(128, 0, 21);
}

p {
  font-size: 17px;
  font-family: tahoma;
}

.heart {
  color: rgb(151, 3, 27);
  text-shadow: black 1px 1px 2px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: black;
  border-radius: 7px;
}

.active-menu {
  font-weight: bold;
  border-bottom: rgb(252, 164, 178) solid 1px;
}

a {
  color: rgb(252, 164, 178);
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

.a-aside:hover {
  background-color: transparent;
  opacity: 0.7;
}
a:hover {
  background-color: rgb(151, 3, 27);
}

.container-flex {
  display: flex;
}

.container-aside {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  bottom: 55px;
  margin-right: 5%;
  margin-left: auto;
}

main {
  margin: 0 auto;
  margin-top: 15px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}
aside {
  /*position: fixed;*/
  margin-top: 10px;
  background-color: rgba(255, 199, 209, 0.568);
  overflow: auto;
  border-radius: 5px;
}

.h2-aside {
  font-size: 22px;
}

.favoritos-img {
  margin-left: 20px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.container-fav {
  display: flex;
  align-items: center;
}

.img-aside2 {
  border-radius: 0%;
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.p-fav {
  font-size: 17px;
  line-height: 1;
  margin: 15px;
  text-align: left;
}

.aside2 {
  margin-top: 10px;
  height: auto;
}

#del {
  text-decoration: line-through;
}

img {
  border-radius: 25px;
}

abbr {
  color: rgb(151, 3, 27);
}

footer {
  margin-top: 30px;
  text-align: center;
  line-height: 3;
  font-size: 15px;
  color: black;
  text-shadow: 2px 2px 5px rgb(128, 0, 21);
  background-color: rgba(255, 158, 174, 0.349);
  border: solid 2px rgb(128, 0, 21);
  border-radius: 7px;
}
