* {
  /*css reset*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
}

section {
  margin-bottom: 20px;
  background-color: rgba(255, 199, 209, 0.315);
  width: 750px;
  border-radius: 5px; /*cantos arredondados*/
}

header {
  position: sticky;
  top: 0; /*gruda no topo*/
  background-color: #e0becc;
}

h1 {
  /*título da página*/
  font-weight: bolder;
  color: black;
  text-shadow: 1px 1px 3px rgb(128, 0, 21);
  font-family: tahoma;
  line-height: 3;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  line-height: 3;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: justify;
  line-height: 1;
  color: rgb(128, 0, 21);
}

p {
  font-size: 17px;
  font-family: tahoma;
}

.heart {
  color: rgb(151, 3, 27);
  text-shadow: black 1px 1px 2px;
}

nav {
  display: flex;
  justify-content: space-around; /*espaço antes, depois e entre os elementos do flex*/
  padding: 15px; /*espaço interno*/
  background-color: black;
  border-radius: 7px;
}

.active-menu {
  /*barrinha embaixo do menu ativo*/
  font-weight: bold;
  border-bottom: rgb(252, 164, 178) solid 1px;
}

a {
  /*estilizando o menu*/
  color: rgb(252, 164, 178);
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

.a-aside:hover {
  background-color: transparent; /*para não ficar com o mesmo hover do menu*/
  opacity: 0.7; /*efeito de transparência quando passa o mouse nas imagens*/
}
a:hover {
  background-color: rgb(151, 3, 27); /*hover do menu*/
}

.container-flex {
  /*corrige o problema do width*/
  display: flex;
}

.container-aside {
  /*agrupa os aside e deixa eles em coluna*/
  display: flex;
  flex-direction: column;
  max-width: 25%;
  bottom: 55px;
  margin-right: 5%;
  margin-left: auto;
}

main {
  margin: 15px auto;
  /*margin-top: 15px;*/
}

/* lembrete com exemplos
margin = top right bottom left
margin: 0; margem de todos os lados = 0
margin: 0 1px; top/bottom = 0; right/left = 1px
margin: 0 1px 2px; top = 0; right/left = 1px; bottom = 2px
margin: 0 1px 2px 3px; top = 0; right= 1px; bottom = 2px; left = 3px */

ul {
  /*reseta a decoração da lista*/
  list-style: none;
}

li {
  margin-bottom: 5px;
}
aside {
  /*position: fixed;*/
  margin-top: 10px;
  background-color: rgba(255, 199, 209, 0.568);
  overflow: auto; /*scroll na sidebar, se precisar*/
  border-radius: 5px;
}

.h2-aside {
  font-size: 22px;
}

.favoritos-img {
  margin-left: 20px; /*desgruda da borda*/
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.container-fav {
  display: flex; /*elementos inline*/
  align-items: center; /*centralizadinhos*/
}

.img-aside2 { /*linkedin*/
  border-radius: 0; /*tira o border-radius padrão*/
  height: 50px;
  width: auto;
  display: block; /*para centralizar*/
  margin: auto; /*para centralizar*/
}

.p-fav {
  font-size: 17px;
  line-height: 1;
  margin: 15px;
  text-align: left;
}

.aside2 {
  margin-top: 10px;
  height: auto;
}

.del {
  text-decoration: line-through; /*efeito riscado magickando*/
}

img {
  border-radius: 25px; /*padrão de imagens arredondadas*/
}

abbr {
  color: rgb(151, 3, 27);
}

footer {
  margin-top: 30px;
  text-align: center;
  line-height: 3;
  font-size: 15px;
  color: black;
  text-shadow: 2px 2px 5px rgb(128, 0, 21);
  background-color: rgba(255, 158, 174, 0.349);
  border: solid 2px rgb(128, 0, 21);
  border-radius: 7px;
}
